# Ignore file with local/personal address within the configuration

active/shared/.config/nvim/lua/plugins/vimwiki.lua
active/shared/.config/nvim/lua/plugins/lualine.lua
active/shared/.config/nvim/lua/plugins/rose-pine-theme.lua
active/shared/.config/nvim/lua/plugins/kanagawa-theme.lua
active/shared/.config/nvim/lazy-lock.json
